@import '../common/variables.scss';

//cart icon
.cartIconWrapper {
  display: flex;
  position: relative;
  cursor: pointer;
  div {
    position: relative;
    background-image: url(../../assets/icons/cartIcon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 18px;
  }
}

.cartIconQuantity {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -70%);
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: $white;
  text-align: center;
  background: $black;
  border-radius: 60px;
  z-index: 10px;
}

.cartOverlayWrapper {
  position: absolute;
  top: 70px;
  right: 0;
  width: 430px;
  padding: 8px 16px 20px 16px;
  background-color: $white;
  z-index: 5;
  max-height: 650px;
  overflow-y: scroll;
}

.cartOverlayTitle {
  display: flex;
  margin-bottom: 25px;
  p {
    padding-right: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    &:last-child {
      font-weight: 500;
    }
  }
}

.cartOverlayOneProductContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.cartOverlayProductWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
}

.cartOverlayTwoItemsWrapper {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.cartOverlayProductInfo {
  margin-right: 20px;
  p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    margin-top: 0;
    margin-bottom: 5px;
    &:last-child {
      font-weight: 500;
      margin-bottom: 8px;
    }
  }
}

//styling attributes
.cartOverlayAttributes {
  display: flex;
}

.cartOverlayOneAttributeWrapper {
  margin-top: 0;
  margin-bottom: 8px;
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 8px;
    padding: 0 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.cartOverlayAttributesContainer {
  display: flex;
}

.cartOverlayChosenAttribute {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 24px;
  margin-right: 8px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: $white;
  background-color: $black;
}

.cartPageChosenAttribute {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 45px;
  margin-right: 8px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: $white;
  background-color: $black;
}

.cartOverlayNotChosenAttribute {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 24px;
  margin-right: 8px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: $grey;
  background-color: $white;
  border: 1px solid $grey;
}

.cartPageNotChosenAttribute {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 45px;
  margin-right: 8px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: $grey;
  background-color: $white;
  border: 1px solid $grey;
}

.cartOverlayChosenAttributeColor {
  display: flex;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  outline-offset: 2px;
  outline: 1px solid $green;
}

.cartOverlayNotChosenAttributeColor {
  display: flex;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  outline-offset: 2px;
}

.cartPageChosenAttributeColor {
  display: flex;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  outline-offset: 2px;
  outline: 1px solid $green;
}

.cartPageNotChosenAttributeColor {
  display: flex;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  outline-offset: 2px;
}

.cartOverlayCounter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid $black;
    cursor: pointer;
  }
}

.cartOverlayImageWrapper {
  width: 105px;
  height: 137px;
  img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
  }
}

.cartOverlayTotalPrice {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 35px;
  p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    &:last-child {
      font-weight: 700;
    }
  }
}

.cartOverlayButtonsWrapper {
  display: flex;
  justify-content: space-between;
  button {
    width: 140px;
    height: 43px;
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    background-color: $white;
    border: 1px solid $black;
    cursor: pointer;
    &:last-child {
      background: $green;
      color: $white;
      border: none;
    }
  }
}
.cartOverlayButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 43px;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  background-color: $white;
  border: 1px solid $black;
  &:last-child {
    background: $green;
    color: $white;
    border: none;
  }
  &:hover {
    opacity: 0.6;
    transition: ease-in-out 0.5s;
  }
}

.cartOverlayAttributes {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cartOverlayAttributeText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 24px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  border: 1px solid #1d1f22;
  cursor: pointer;
}

.cartOverlayAttributeSwatch {
  width: 38px;
  height: 24px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  border: 1px solid #1d1f22;
  cursor: pointer;
}

.cartOverlayHover {
  position: absolute;
  width: 200px;
  top: 0;
  margin: 0 0;
  transform: translate(-5px, -25px);
  color: $green;
}

//cart page styling
.cartPageWrapper {
  padding: 80px 242px 54px 0;
}

.cartPageCounterImageWrapper {
  display: flex;
}

.cartPageInfoAttributesWrapper {
  display: flex;
  flex-direction: column;
}

.cartPageTitle {
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.cartPageOneProductWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 32px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.cartPageOneProductInfo {
  p {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
    &:nth-child(2) {
      font-weight: 400;
      font-size: 30px;
      line-height: 27px;
    }
    &:last-child {
      font-weight: 700;
      font-size: 24px;
      line-height: 18px;
      margin-bottom: 20px;
    }
  }
}

.cartPageOneAttributeWrapper {
  margin-top: 0;
  margin-bottom: 16px;
  p {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 8px;
    padding: 0 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.cartPageAttributesWrapper {
  display: flex;
  flex-direction: column;
}

.cartPageAttributes {
  display: flex;
  margin-right: 12px;
}

.cartPageAttributeText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 45px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #1d1f22;
  cursor: pointer;
}

.cartPageAttributeSwatch {
  width: 65px;
  height: 45px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #1d1f22;
  cursor: pointer;
}

.cartPageCounter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  margin-right: 15px;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    font-size: 48px;
    width: 45px;
    height: 45px;
    border: 1px solid $black;
    cursor: pointer;
  }
}

.cartPageImageWrapper {
  position: relative;
  width: 141px;
  height: 185px;
  cursor: pointer;
  img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
  }
}

.cartPageImageRight {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0;
  padding-bottom: 3px;
  width: 24px;
  height: 24px;
  font-size: 18px;
  color: $white;
  background: rgba(0, 0, 0, 0.73);
  &:hover {
    opacity: 0.6;
    transition: ease-in-out 0.5s;
  }
}

.cartPageImageLeft {
  position: absolute;
  bottom: 16px;
  right: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0;
  padding-bottom: 3px;
  width: 24px;
  height: 24px;
  font-size: 18px;
  color: $white;
  background: rgba(0, 0, 0, 0.73);
  &:hover {
    opacity: 0.6;
    transition: ease-in-out 0.5s;
  }
}

.cartPageButton {
  width: 280px;
  height: 43px;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}

.cartPageTotalPrice {
  p {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 24px;
    }
    span {
      margin-left: 5px;
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
    }
  }
}

.cartPageHover {
  position: absolute;
  width: 200px;
  bottom: 0;
  margin: 0 0;
  transform: translate(0px, -70px);
  color: $green;
}
