@import '../common/variables.scss';

.oneProductWrapper {
  display: flex;
  padding-top: 72px;
  padding-bottom: 72px;
}

.imagesContainer {
  height: 510px;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
  cursor: pointer;
}

.smallImagesContainer {
  display: flex;
  flex-direction: column;
}

.bigImage {
  position: relative;
  max-width: 600px;
  min-width: 410px;
  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
  p {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
  }
}

.bigImageOutOfStock {
  opacity: 0.5;
}

.smallImage {
  height: calc((100% / 5) - (40px / 5));
  margin-right: 10px;
  margin-bottom: 10px;
  width: 80px;
  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}

.productBrand {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
}

.productName {
  margin-top: 0;
  margin-bottom: 43px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
}

.productPrice {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.productPriceAmount {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
}

.addToCartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 50px;
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: $white;
  background: $green;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
    transition: ease-in-out 0.5s;
  }
  &:disabled {
    opacity: 0.3;
  }
}

.productInfoDetails {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 159.96%;
  ul {
    padding-left: 0;
  }
}

.attributesWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  div {
    margin-right: 12px;
  }
  cursor: pointer;
}

.attributesTitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.boxAttributes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 45px;
  border: 1px solid $black;
  &:hover {
    opacity: 0.5;
    transition: ease-in-out 0.5s;
  }
}

.activeAttributeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 45px;
  color: $white;
  background-color: $black;
}

.activeAttributeBoxSwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 45px;
  outline-offset: 2px;
  outline: 2px solid $green;
}

.notAvailableAttributeBox {
  opacity: 0.5;
}
