//wrapper for all cards
.productsListWrapper {
  display: flex;
  flex-wrap: wrap;
}

.productListContainer {
  position: relative;
  height: 100%;
  min-height: 100vh !important;
}

//one card
.productCardWrapper {
  display: flex;
  flex-direction: column;
  width: calc((100% / 3) - (2rem / 3));
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 15px 15px 15px 15px;
  cursor: pointer;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  }
}

.outOfStock {
  opacity: 0.5;
}

.outOfStockLabel {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  margin: 0 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
}

.productCardInfoWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  p {
    margin: 0 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
  }
}

.productCardInfo {
  display: flex;
  flex-wrap: wrap;
  p {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    padding-right: 5px;
  }
}

.imageWrapper {
  position: relative;
  height: 330px;
  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}

//cart icon on hover
.cartLogoHover {
  position: absolute;
  bottom: 0;
  right: 20px;
  transform: translateY(50%);
  width: 52px;
  height: 52px;
  background-image: url(../../assets/icons/cartHover.svg);
  background-repeat: no-repeat;
  background-position: center center;
  transition: 3s linear;
  &:hover {
    opacity: 0.6;
    transition: ease-in-out 0.5s;
  }
}
