@import "../common/variables.scss";

.headerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: $white;
}

.categoriesHeader {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

//when category is not chosen
.categoriesList {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 29px;
  padding-bottom: 29px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: $black;
  cursor: pointer;
  &:hover {
    color: $green;
  }
}

//when the category is chosen
.activeCategory {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 29px;
  padding-bottom: 29px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: $green;
  border-bottom: 2px solid $green;
  cursor: pointer;
  transition: all 1s ease-out;
}

.logo {
  background-image: url(../../assets/icons/logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 31px;
  height: 28px;
}

.currencyCartWrapper {
  display: flex;
  align-items: center;
  position: relative;
}
