@import "../common/variables.scss";

.chosenCurrency {
  display: flex;
  align-items: center;
  margin-right: 22px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: $black;
  cursor: pointer;
  p {
    margin-right: 10px;
    margin-left: 20px;
    &:last-child {
      margin-right: 0;
      margin-left: 0;
      margin-top: 25px;
    }
  }
}

.arrowUpHeader {
  border: solid #000000;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-135deg);
  cursor: pointer;
}

.arrowDownHeader {
  border: solid #000000;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  cursor: pointer;
}

.currenciesList {
  position: absolute;
  top: 60px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 115px;
  padding: 20px 20px;
  margin: 0 0;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  cursor: pointer;
  z-index:15;
  li {
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: $black;
    list-style: none;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: $green;
      transition: ease-in-out 0.1s;
    }
  }
}
