@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

h2 {
  padding-top: 80px;
  padding-bottom: 100px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

button:focus {
  outline: none;
}

.wrapper {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

main {
  position: relative;
  height: 100%;
  min-height: 100vh !important;
}

.darkBackground {
  min-height: 100%;
}

.darkBackground::after {
  position: absolute;
  top: 0;
  content: '';
  width: 100%;
  min-height: 100%;
  background: rgba(57, 55, 72, 0.22);
  z-index: 2;
}

@media screen and (max-width: 1300px) {
  .wrapper {
    max-width: 1040px;
    margin: 0 auto;
  }
}
